## Introducing Python Object Types
In an informal sense, in Python we do things with stuff.1 “Things” take the form of operations like addition and concatenation, and “stuff” refers to the objects on which we perform those operations. In this part of the book, our focus is on that stuff, and the things our programs can do with it. Somewhat more formally, in Python, data takes the form of objects—either built-in objects that Python provides, or objects we create using Python classes or external language tools such as C extension libraries. Although we’ll firm up this definition later, objects are essentially just pieces of memory, with values and sets of associated operations. As we’ll see, everything is an object in a Python script

 From a more concrete perspective, Python programs can be decomposed into modules, statements, expressions, and objects, as follows: 
1. Programs are composed of modules. <br>
2. Modules contain statements. <br>
3. Statements contain expressions. <br>
4. Expressions create and process objects<br>

We will explore both built-in objects and the expressions you can code to use them.

## Why Use Built-in Types? 
If you’ve used lower-level languages such as C or C++, you know that much of your work centers on implementing objects—also known as data structures—to represent the components in your application’s domain. You need to lay out memory structures, manage memory allocation, implement search and access routines, and so on. These chores are about as tedious (and error-prone) as they sound, and they usually distract from your program’s real goals. In typical Python programs, most of this grunt work goes away. Because Python provides powerful object types as an intrinsic part of the language, there’s usually no need to code object implementations before you start solving problems. In fact, unless you have a need for special processing that built-in types don’t provide, you’re almost always better off using a built-in object instead of implementing your own.

## Python’s Core Data Types 
1. Numbers<br>
2. Strings<br>
3. Lists<br>
4. Dictionaries<br>
5. Tuples<br>
6. Sets<br>
7. Files<br>
8. Other core types (Booleans) <br>
9. Program Unit types (Functions, modules, classes)<br>

## Numbers

Python supports different numerical types −

int (signed integers) − They are often called just integers or ints. They are positive or negative whole numbers with no decimal point. Integers in Python 3 are of unlimited size. Python 2 has two integer types - int and long. There is no 'long integer' in Python 3 anymore. 

float (floating point real values) − Also called floats, they represent real numbers and are written with a decimal point dividing the integer and the fractional parts. Floats may also be in scientific notation, with E or e indicating the power of 10 (2.5e2 = 2.5 x 102 = 250). 

complex (complex numbers) − are of the form a + bJ, where a and b are floats and J (or j) represents the square root of -1 (which is an imaginary number). The real part of the number is a, and the imaginary part is b. Complex numbers are not used much in Python programming.

Numbers in Python support the normal mathematical operations. For instance, the plus sign (+) performs addition, a star (*) is used for multiplication, and two stars (**) are used for exponentiation:

In [1]:
123 + 453 #Integer addidtion

576

In [2]:
1.5 * 4 #Floating-point multiplication

6.0

In [3]:
2 ** 100 # 2 to the power 100

1267650600228229401496703205376

 Python 3.X’s integer type automatically provides extra precision for large numbers like this when needed.

In [4]:
number = 0xA0F #Hexa-decimal

In [5]:
number

2575

In [6]:
number = 0o37 #Octal
number

31

In [7]:
5 / 10 #floating point division

0.5

In [8]:
20 / 5

4.0

In [9]:
24 // 5 #  # floor division discards the fractional part

4

In [10]:
24 / 5

4.8

In [11]:
24 % 5 # the % operator returns the remainder of the division

4

In [12]:
5 * 3 + 2  # result * divisor + remainder

17

In [13]:
width = 20
height = 5 * 9
width * height

900

In [14]:
4 * 3.75 - 1

14.0

In [15]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In interactive mode, the last printed expression is assigned to the variable _. This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:

In [16]:
price + _

113.0625

In [17]:
round(_, 2)

113.06

## Built-In Math Functions
[https://docs.python.org/3/library/math.html]

In [18]:
import math

In [19]:
math.pi

3.141592653589793

In [20]:
math.sqrt(4)

2.0

In [21]:
math.sqrt(85)

9.219544457292887

In [22]:
math.ceil(2.4) #Return the ceiling of x, the smallest integer greater than or equal to x

3

In [23]:
math.ceil(2.6)

3

In [24]:
math.fabs(-4) #Return the absolute value of x.

4.0

In [25]:
math.floor(2.8) #Return the floor of x, the largest integer less than or equal to x

2

In [26]:
math.copysign(2, -5) #Return a float with the magnitude (absolute value) of x but the sign of y

-2.0

In [27]:
10 % 2.4

0.40000000000000036

In [28]:
math.fmod(10, 2.4) #fmod() is generally preferred when working with floats, while Python’s x % y is preferred when working with integers.

0.40000000000000036

In [29]:
sum([.1, .1, .1, .1, .1, .1, .1, .1, .1, .1])

0.9999999999999999

In [30]:
math.fsum([.1, .1, .1, .1, .1, .1, .1, .1, .1, .1])
# math.fsum(iterable)
#Return an accurate floating point sum of values in the iterable. Avoids loss of precision by tracking multiple intermediate partial sums:

1.0

In [31]:
math.gcd(10, 5)

5

In [32]:
math.gcd(64, 2)

2

<b>Power and logarithmic functions</b>

In [33]:
math.pow(2, 8) #Return x raised to the power y

256.0

In [34]:
math.log(2)

0.6931471805599453

In [35]:
math.log(2, 10)

0.30102999566398114

In [36]:
math.exp(1e-5)      #gives result accurate to 11 places

1.00001000005

In [37]:
math.expm1(1e-5)    # result accurate to full precision

1.0000050000166667e-05

<b>Trigonometric functions</b>

In [38]:
math.cos(0) #Return the cosine of x radians.

1.0

In [39]:
math.degrees(90) #Convert angle x from radians to degrees.

5156.620156177409

In [40]:
math.cos(45)

0.5253219888177297

In [41]:
math.sin(90)

0.8939966636005579

In [42]:
math.sin(0)

0.0

In [43]:
math.tanh(90)

1.0

## Strings
Strings are used to record both textual information (your name, for instance) as well as arbitrary collections of bytes (such as an image file’s contents). They are our first example of what in Python we call a sequence—a positionally ordered collection of other objects. Sequences maintain a left-to-right order among the items they contain: their items are stored and fetched by their relative positions. Strictly speaking, strings are sequences of one-character strings; other, more general sequence types include lists and tuples, covered later

In [44]:
x = 'Hello'

In [45]:
x

'Hello'

In [46]:
type(x)

str

In [47]:
x = "Hello"
type(x)

str

In [48]:
len(x) #length of a string

5

In [49]:
x[0] #the first item in x, indexing by zero-based position

'H'

In [50]:
x[1]

'e'

In Python, indexes are coded as offsets from the front, and so start from 0: the first item is at index 0, the second is at index 1, and so on.  

Python variables never need to be declared ahead of time. A variable is created when you assign it a value, may be assigned any type of object, and is replaced with its value when it shows up in an expression

In Python, we can also index backward, from the end—positive indexes count from the left, and negative indexes count back from the right:

In [51]:
x[-1]

'o'

In [52]:
x[-4]

'e'

Formally, a negative index is simply added to the string’s length, so the following two operations are equivalent (though the first is easier to code and less easy to get wrong):

In [53]:
x[-1]

'o'

In [54]:
x[len(x) - 1]

'o'

In [55]:
x[len(x) - 4]

'e'

Notice that we can use an arbitrary expression in the square brackets, not just a hardcoded number literal—anywhere that Python expects a value, we can use a literal, a variable, or any expression we wish. Python’s syntax is completely general this way. In addition to simple positional indexing, sequences also support a more general form of indexing known as slicing, which is a way to extract an entire section (slice) in a single step. For example:

In [56]:
x

'Hello'

In [57]:
x[1:3]  # Slice of x from offsets 1 through 2 (not 3)

'el'

 Their general form, X[I:J], means “give me everything in X from offset I up to but not including offset J.”

In [58]:
x[0:3]

'Hel'

In [59]:
x[:]  # All of x as a top-level copy (0:len(S))

'Hello'

In [60]:
x[:-1]

'Hell'

In [61]:
x[:3]

'Hel'

In [62]:
'doesn\'t' # use \' to escape the single quote...

"doesn't"

In [63]:
"doesn't"

"doesn't"

In [64]:
print('"Isn\'t," she said.')

"Isn't," she said.

In [65]:
s = 'First line.\nSecond line.'  # \n means newline

In [66]:
s

'First line.\nSecond line.'

The print() function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:

In [67]:
print(s)

First line.
Second line.

If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

In [68]:
print('C:\some\name') # # here \n means newline!

C:\some
ame

In [69]:
print(r'C:\some\name') # note the r before the quote

C:\some\name

String literals can span multiple lines. One way is using triple-quotes: """...""" or '''...'''. End of lines are automatically included in the string, but it’s possible to prevent this by adding a \ at the end of the line. The following example:

In [3]:
s = 'Hello\nWorld' 
print(s)

Hello
World

In [1]:
print('''
gfjfgjgfjfg
dhdgjgfjgfj
gdjgjgfjgfjfgjf''')

gfjfgjgfjfg
dhdgjgfjgfj
gdjgjgfjgfjfgjf

In [70]:
print('''\
Usage: thingy [OPTIONS]
     -h                            Display this usage message
     -H hostname                   Hostname to connect to
''')

Usage: thingy [OPTIONS]
     -h                            Display this usage message
     -H hostname                   Hostname to connect to

Strings can be concatenated (glued together) with the + operator, and repeated with *:

In [71]:
3 * 'un' + 'ium'

'unununium'

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [72]:
'Py' 'thon'

'Python'

This feature is particularly useful when you want to break long strings:

In [73]:
text = ('Put several strings within parentheses ' 
        'to have them joined together.')

In [74]:
text

'Put several strings within parentheses to have them joined together.'

This only works with two literals though, not with variables or expressions:
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax
('un' * 3) 'ium'

If you want to concatenate variables or a variable and a literal, use +:

In [75]:
prefix = 'py'
prefix + 'thon'

'python'

In [76]:
word = 'Python'
word[2] + word[4]

'to'

## Built-In String Functions

In [77]:
s = 'Sammy hark'

<b>Making Strings Upper and Lower Case</b>

In [78]:
s.upper()  #str.upper() and str.lower()

'SAMMY HARK'

In [79]:
s.lower()

'sammy hark'

In [80]:
s.capitalize()

'Sammy hark'

In [81]:
s.swapcase() #This method swaps the case of every character i.e. every uppercase is converted to lowercase and vice versa.

'sAMMY HARK'

In [82]:
s.title()

'Sammy Hark'

In [83]:
print(s.index("S"))

0

In [84]:
print(s.count("m"))

2

In [85]:
print(s[0:5:2])

Smy

In [86]:
s[::-1]

'krah ymmaS'

In [87]:
s.startswith('X')

False

In [88]:
s.startswith('Sam')

True

In [89]:
s.startswith('sam')

False

In [90]:
s.endswith('ark')

True

<b>join(), split(), and replace() Methods</b>

The str.join(), str.split(), and str.replace() methods are a few additional ways to manipulate strings in Python.

The str.join() method will concatenate two strings, but in a way that passes one string through another.

In [91]:
balloon = "Sammy has a balloon."

In [92]:
balloon.join('Hello')

'HSammy has a balloon.eSammy has a balloon.lSammy has a balloon.lSammy has a balloon.o'

In [93]:
balloon.join(' Hello')

' Sammy has a balloon.HSammy has a balloon.eSammy has a balloon.lSammy has a balloon.lSammy has a balloon.o'

In [94]:
' '.join(balloon)

'S a m m y   h a s   a   b a l l o o n .'

In [95]:
' '.join(reversed(balloon))

'. n o o l l a b   a   s a h   y m m a S'

In [96]:
print(','.join(["sharks", "crustaceans", "plankton"]))

sharks,crustaceans,plankton

In [97]:
print(', '.join(["sharks", "crustaceans", "plankton"]))

sharks, crustaceans, plankton

<b>Just as we can join strings together, we can also split strings up. To do this, we will use the str.split() method:</b>

In [98]:
balloon.split()

['Sammy', 'has', 'a', 'balloon.']

In [99]:
balloon.split('a')

['S', 'mmy h', 's ', ' b', 'lloon.']

In [100]:
s = '123'
i = iter(s)

In [101]:
i.__next__()

'1'

In [102]:
i.__next__()

'2'

In [103]:
i.__next__()

'3'

In [104]:
list(s)

['1', '2', '3']

Now the letter a has been removed and the strings have been separated where each instance of the letter a had been, with whitespace retained.

The <b>str.replace()</b> method can take an original string and return an updated string with some replacement. 

Let’s say that the balloon that Sammy had is lost. Since Sammy no longer has this balloon, we will change the substring "has" from the original string balloon to "had" in a new string:

In [105]:
print(balloon.replace("has","had"))

Sammy had a balloon.

<b>We search for a specific character or characters in a string with the .find() method.</b>

In [106]:
s = "On the other hand, you have different fingers."
s.find("hand")

13

In [107]:
s.find("o")

7

In [108]:
s.find('o', 8)

20

In [109]:
s.find("e", 20, -5)

26

In [110]:
s.find('e')

5

## Python has a function called dir that lists the methods available for an object. The type function shows the type of an object and the dir function shows the available methods.

In [111]:
s = 'Hello'

In [112]:
type(s)

str

In [113]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [114]:
word = "    xyz    "

In [115]:
word.strip()

'xyz'

In [116]:
word.lstrip()

'xyz    '

In [117]:
word.rstrip()

'    xyz'

In [118]:
'x' in word

True

## Strings are immutable

In [119]:
greeting = 'Hello, world!'
#greeting[0] = 'J'

In [120]:
new_greeting = 'J' + greeting[1:]

In [121]:
new_greeting

'Jello, world!'

## Lists

A list is a sequence
Like a string, a list is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in a list are called elements or sometimes items. Thereareseveralwaystocreateanewlist;thesimplestistoenclosetheelementsinsquare brackets ([ and ]):

[10, 20, 30, 40] <br>
['crunchy frog', 'ram bladder', 'lark vomit']

They are also mutable—unlike strings, lists can be modified in place by assignment to offsets as well as a variety of list method calls.

In [122]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [123]:
cheeses

['Cheddar', 'Edam', 'Gouda']

In [124]:
type(cheeses)

list

In [125]:
 numbers = [17, 123]

In [126]:
numbers

[17, 123]

In [127]:
 L = [123, 'spam', 1.23]

In [128]:
L[0]    #indexing by position

123

In [129]:
L[:-1]  #list slicing

[123, 'spam']

In [130]:
 L + [4, 5, 6]   #concatenating list

[123, 'spam', 1.23, 4, 5, 6]

In [131]:
L * 2  # repeating a list. Here we are not changing the original list

[123, 'spam', 1.23, 123, 'spam', 1.23]

In [132]:
L

[123, 'spam', 1.23]

In [133]:
M = L * 2 #assigning the new list to a variable

In [134]:
M

[123, 'spam', 1.23, 123, 'spam', 1.23]

<b>Lists are mutable</b>

In [135]:
M

[123, 'spam', 1.23, 123, 'spam', 1.23]

In [136]:
M[4] = 'Hello!'

In [137]:
M

[123, 'spam', 1.23, 123, 'Hello!', 1.23]

<b>List Methods</b>

<b>list.append()</b><br>
The method list.append(x) will add an item (x) to the end of a list. We’ll start with a list of our fish that are dispersed throughout the aquarium.

In [138]:
fish = ['barracuda','cod','devil ray','eel']

In [139]:
fish.index('cod')

1

In [140]:
fish.append('flounder')

In [141]:
print(fish)

['barracuda', 'cod', 'devil ray', 'eel', 'flounder']

In [142]:
fish.append('apple')

In [143]:
fish

['barracuda', 'cod', 'devil ray', 'eel', 'flounder', 'apple']

<b>list.insert()</b><br>
The list.insert(i,x) method takes two arguments, with i being the index position you would like to add an item to, and x being the item itself.

In [144]:
fish.insert(0, 'anchony')

In [145]:
fish

['anchony', 'barracuda', 'cod', 'devil ray', 'eel', 'flounder', 'apple']

<b>list.extend()</b><br>
If we want to combine more than one list, we can use the list.extend(L) method, which takes in a second list as its argument. 
Our aquarium is welcoming four new fish from another aquarium that is closing. We have these fish together in the list more_fish:

In [146]:
more_fish = ['goby','herring','ide','kissing gourami']

In [147]:
fish.extend(more_fish)

In [148]:
fish

['anchony',
 'barracuda',
 'cod',
 'devil ray',
 'eel',
 'flounder',
 'apple',
 'goby',
 'herring',
 'ide',
 'kissing gourami']

In [149]:
len(fish)

11

<b>list.remove()</b><br>
When we need to remove an item from a list, we’ll use the list.remove(x) method which removes the first item in a list whose value is equivalent to x.

In [150]:
fish.remove('devil ray')

In [151]:
fish

['anchony',
 'barracuda',
 'cod',
 'eel',
 'flounder',
 'apple',
 'goby',
 'herring',
 'ide',
 'kissing gourami']

In [152]:
'devil ray' in fish

False

<b>list.pop()</b><br>
We can use the list.pop([i]) method to return the item at the given index position from the list and then remove that item. The square brackets around the i for index tell us that this parameter is optional, so if we don’t specify an index (as in fish.pop()), the last item will be returned and removed.

In [153]:
fish.pop(4)

'flounder'

In [154]:
fish

['anchony',
 'barracuda',
 'cod',
 'eel',
 'apple',
 'goby',
 'herring',
 'ide',
 'kissing gourami']

<b>list.copy()</b><br>
When we are working with a list and may want to manipulate it in multiple ways while still having the original list available to us unchanged, we can use list.copy() to make a copy of the list. 
We’ll pass the value returned from fish.copy() to the variable fish_2

In [155]:
fish_2 = fish.copy()

In [156]:
fish_2

['anchony',
 'barracuda',
 'cod',
 'eel',
 'apple',
 'goby',
 'herring',
 'ide',
 'kissing gourami']

In [157]:
fish.reverse()

In [158]:
fish

['kissing gourami',
 'ide',
 'herring',
 'goby',
 'apple',
 'eel',
 'cod',
 'barracuda',
 'anchony']

<b>list.count()</b><br>
The list.count(x) method will return the number of times the value x occurs within a specified list.

In [159]:
fish.count('goby')

1

<b>list.sort()</b><br>
We can use the list.sort() method to sort the items in a list.

In [160]:
fish.sort()

In [161]:
fish

['anchony',
 'apple',
 'barracuda',
 'cod',
 'eel',
 'goby',
 'herring',
 'ide',
 'kissing gourami']

<b>list.clear()</b> <br>
When we’re done with a list, we can remove all values contained in it by using the list.clear() method.

In [162]:
fish.clear()

In [163]:
fish

[]

<b>Nesting</b>

In [164]:
M = [
    [1, 2, 3],
    [5.2, 6.3,  'python']
]

In [165]:
M[0]

[1, 2, 3]

In [166]:
M[1]

[5.2, 6.3, 'python']

In [167]:
M[0][1]

2

In [168]:
M[0][1] = 'programming'

In [169]:
M

[[1, 'programming', 3], [5.2, 6.3, 'python']]

Astringisasequenceofcharactersandalistisasequenceofvalues,butalistofcharacters isnotthesameasastring. Toconvertfromastringtoalistofcharacters,youcanuse list:

## String and List

In [170]:
s = 'spam'

In [171]:
t = list(s)

In [172]:
t

['s', 'p', 'a', 'm']

In [173]:
 s = 'pining for the fjords'

In [174]:
s.split()

['pining', 'for', 'the', 'fjords']

In [175]:
a = [1, 2, 3]
b = [1, 2, 3]

To check whether two variables refer to the same object, you can use the is operator.

In [176]:
a is  b

False

In the above case we would say that the two lists are equivalent, because they have the same elements,butnotidentical,becausetheyarenotthesameobject. Iftwoobjectsareidentical, they are also equivalent, but if they are equivalent, they are not necessarily identical.

In [177]:
c = 'banana'
d = 'banana'

In [178]:
c is d

True

In this example, Python only created one string object, and both a and b refer to it.

In [179]:
id(c)   #id(object) : As we can see the function accepts a single parameter and is used to return the identity of an object. This identity has to be unique and constant for this object during the lifetime. Two objects with non-overlapping lifetimes may have the same id() value. If we relate this to C, then they are actually the memory address, here in Python it is the unique id. This function is generally used internally in Python.

2566182468944

In [180]:
id(d)

2566182468944

In [181]:
id(a), id(b)

(2566182447560, 2566182475208)

<b>Aliasing</b>

If a refers to an object and you assign b = a, then both variables refer to the same object:

In [182]:
a = [1, 2, 3]

In [183]:
b = a

In [184]:
a is b

True

In [185]:
b is a

True

The association of a variable with an object is called a reference. In this example, there are two references to the same object. An object with more than one reference has more than one name, so we say that the object is aliased.

If the aliased object is mutable, changes made with one alias affect the other:

In [186]:
b[0] = 17

In [187]:
a

[17, 2, 3]

## Dictionaries

A dictionary is like a list, but more general. In a list, the indices have to be integers; in a dictionary they can be (almost) any type. You can think of adictionary as a mapping between a set of indices(which are called keys) and a set of values. Each key maps to a value. The association of a key and a value is called a key-value pair or sometimes an item.

As an example, we’ll build a dictionary that maps from English to Spanish words, so the keys and the values are all strings. The function dict creates a new dictionary with no items. Because dict is the name of a built-in function, you should avoid using it as a variable name.

In [188]:
 eng2sp = dict()

In [189]:
 eng2sp

{}

The squiggly-brackets, {}, represent an empty dictionary. To add items to the dictionary, you can use square brackets:

In [190]:
 eng2sp['one'] = 'uno'

This line creates an item that maps from the key 'one' to the value 'uno'. If we print the dictionary again, we see a key-value pair with a colon between the key and value:

In [191]:
eng2sp

{'one': 'uno'}

In [192]:
 eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [193]:
eng2sp

{'one': 'uno', 'three': 'tres', 'two': 'dos'}

The order of the key-value pairs is not the same. In fact, if you type the same example on your computer, you might get a different result. In general, the order of items in a dictionary is unpredictable.

In [194]:
 eng2sp['two']

'dos'

In [195]:
len(eng2sp)

3

In [196]:
'one' in eng2sp

True

In [197]:
'uno' in eng2sp

False

The in operator works on dictionaries; it tells you whether something appears as a key in the dictionary.

In [198]:
'uno' in eng2sp.values()

True

In [199]:
eng2sp.values()

dict_values(['uno', 'dos', 'tres'])

In [200]:
eng2sp.keys()

dict_keys(['one', 'two', 'three'])

The ino perator uses different algorithms for lists and dictionaries.
For lists,it uses a search algorithm. As the list gets longer, the search time gets longer in direct proportion. For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary. <http://en.wikipedia.org/wiki/Hash_table.>

In [201]:
eng2sp.items()

dict_items([('one', 'uno'), ('two', 'dos'), ('three', 'tres')])

In [202]:
eng2sp.get('one')

'uno'

<b> Updating Values in dictionary </b>

In [203]:
sammy = {'username': 'sammy-shark', 'online': True, 'followers': 987}

In [204]:
sammy['username'] = 'python'

In [205]:
sammy

{'followers': 987, 'online': True, 'username': 'python'}

In [206]:
sammy.update({'online': False})

In [207]:
sammy

{'followers': 987, 'online': False, 'username': 'python'}

In [208]:
sammy.update({'Gender': 'Male'})  # adding new item

In [209]:
sammy

{'Gender': 'Male', 'followers': 987, 'online': False, 'username': 'python'}

<b>Deleting Dictionary Elements </b>

In [210]:
del sammy['followers']

In [211]:
sammy

{'Gender': 'Male', 'online': False, 'username': 'python'}

<b>getting key from the given value:</b>

In [212]:
mydict = {'george':16,'amber':19}

In [213]:
mydict.values()

dict_values([16, 19])

In [214]:
mydict.keys()

dict_keys(['george', 'amber'])

In [215]:
list(mydict.values())

[16, 19]

In [216]:
list(mydict.values()).index(16)

0

In [217]:
list(mydict.values())[0]

16

In [218]:
list(mydict.keys()).index('george')

0

In [219]:
list(mydict.keys())[0]

'george'

In [220]:
[list(mydict.values()).index(16)]

[0]

In [221]:
list(mydict.keys())[list(mydict.values()).index(16)]

'george'

<b>Deleting the key-value pairs based on the given values</b>

In [222]:
del mydict[list(mydict.keys())[list(mydict.values()).index(16)]]

In [223]:
mydict

{'amber': 19}

In [224]:
mydict.clear()

In [225]:
mydict

{}

In [226]:
dir(mydict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

<b> fromkeys() </b>

The fromkeys() method creates a new dictionary from the given sequence of elements with a value provided by the user.

The syntax of fromkeys() method is:<br>
dictionary.fromkeys(sequence[, value])<br>

sequence - sequence of elements which is to be used as keys for the new dictionary<br>
value (Optional) - value which is set to each each element of the dictionary

Example 1: Create a dictionary from a sequence of keys:

In [227]:
# vowels keys
keys = {'a', 'e', 'i', 'o', 'u' }

vowels = dict.fromkeys(keys)
print(vowels)

{'a': None, 'o': None, 'i': None, 'u': None, 'e': None}

Example 2: Create a dictionary from a sequence of keys with value

In [228]:
# vowels keys
keys = {'a', 'e', 'i', 'o', 'u' }
value = 'vowel'

vowels = dict.fromkeys(keys, value)
print(vowels)

{'a': 'vowel', 'o': 'vowel', 'i': 'vowel', 'u': 'vowel', 'e': 'vowel'}

In [229]:
keys = {'a', 'e', 'i', 'o', 'u' }
value = 'vowel'

vowels = dict.fromkeys(keys, value)
print(vowels)

{'a': 'vowel', 'o': 'vowel', 'i': 'vowel', 'u': 'vowel', 'e': 'vowel'}

Example 3: Create a dictionary from mutable object list

In [230]:
# vowels keys
keys = {'a', 'e', 'i', 'o', 'u' }
value = [1]

vowels = dict.fromkeys(keys, value)
print(vowels)

# updating the value
value.append(2)
print(vowels)

{'a': [1], 'o': [1], 'i': [1], 'u': [1], 'e': [1]}
{'a': [1, 2], 'o': [1, 2], 'i': [1, 2], 'u': [1, 2], 'e': [1, 2]}

If the provided value is a mutable object (whose value can be modified) like list, dictionary, etc., when the mutable object is modified, each element of the sequence also gets updated.
This is because, each element is assigned a reference to the same object (points to the same object in the memory).
To avoid this issue, we use dictionary comprehension.

In [231]:
# vowels keys
keys = {'a', 'e', 'i', 'o', 'u' }
value = [1]

vowels = { key : list(value) for key in keys }
# you can also use { key : value[:] for key in keys }
print(vowels)

# updating the value
value.append(2)
print(vowels)

{'a': [1], 'o': [1], 'i': [1], 'u': [1], 'e': [1]}
{'a': [1], 'o': [1], 'i': [1], 'u': [1], 'e': [1]}

In [232]:
value

[1, 2]

In [233]:
vowels

{'a': [1], 'e': [1], 'i': [1], 'o': [1], 'u': [1]}

In [234]:
vowels['a'].append('apples')

In [235]:
vowels

{'a': [1, 'apples'], 'e': [1], 'i': [1], 'o': [1], 'u': [1]}

In [236]:
vowels['a'].remove(1)

In [237]:
vowels

{'a': ['apples'], 'e': [1], 'i': [1], 'o': [1], 'u': [1]}

## Remove, delete and pop

In [238]:
a=[1,2,3]
a.remove(2)

In [239]:
a

[1, 3]

In [240]:
a=[1,2,3]
del a[1]

In [241]:
a

[1, 3]

In [242]:
a= [1,2,3]
a.pop(1)

2

In [243]:
a

[1, 3]

remove removes the first matching value, not a specific index.

del removes a specific index.

and pop returns the removed element.

In [244]:
a={1:"a", 3:"b", 5:"c"}

In [245]:
a

{1: 'a', 3: 'b', 5: 'c'}

In [246]:
a.popitem()

(5, 'c')

In [247]:
a

{1: 'a', 3: 'b'}

In [248]:
a.pop(1)

'a'

In [249]:
a

{3: 'b'}

<b>Lists from Dictionaries </b>

In [250]:
w = {"house":"Haus", "cat":"", "red":"rot"}

In [251]:
items_view = w.items()

In [252]:
items = list(items_view)

In [253]:
items

[('house', 'Haus'), ('cat', ''), ('red', 'rot')]

Turn Lists into Dictionaries

In [254]:
dishes = ["pizza", "sauerkraut", "paella", "hamburger"]
countries = ["Italy", "Germany", "Spain", "USA"]

In [255]:
country_specialities_iterator = zip(countries, dishes)

In [256]:
country_specialities_iterator

because the two lists get combined like a zipper. The result is a list iterator. This means that we have to wrap a list() casting function around the zip call to get a list

In [257]:
c = list(country_specialities_iterator)

In [258]:
c

[('Italy', 'pizza'),
 ('Germany', 'sauerkraut'),
 ('Spain', 'paella'),
 ('USA', 'hamburger')]

In [259]:
c_dict = dict(c)

In [260]:
c_dict

{'Germany': 'sauerkraut',
 'Italy': 'pizza',
 'Spain': 'paella',
 'USA': 'hamburger'}

In [261]:
dict(zip(countries, dishes))   # second way

{'Germany': 'sauerkraut',
 'Italy': 'pizza',
 'Spain': 'paella',
 'USA': 'hamburger'}

## Tuples

A tuple is an immutable list, i.e. a tuple cannot be changed in any way once it has been created. A tuple is defined analogously to lists, except that the set of elements is enclosed in parentheses instead of square brackets. The rules for indices are the same as for lists. Once a tuple has been created, you can't add elements to a tuple or remove elements from a tuple. 

Where is the benefit of tuples? 
Tuples are faster than lists.
If you know that some data doesn't have to be changed, you should use tuples instead of lists, because this protects your data against accidental changes.

In [262]:
t = ("tuples", "are", "immutable")

In [263]:
t

('tuples', 'are', 'immutable')

In [264]:
#t[0] = "assignments to elements are not possible"

If the argument is a sequence (string, list or tuple),the result is a tuple with the elements of the sequence:

In [265]:
 t = tuple('lupins')

In [266]:
t

('l', 'u', 'p', 'i', 'n', 's')

In [267]:
t = ("tuples", "are", "immutable")

In [268]:
t[1:4]

('are', 'immutable')

<b>Tuple Assignment</b>

It is often useful to swap the values of two variables. With conventional assignments, you have to use a temporary variable. For example, to swap a and b:

In [269]:
temp = a
a = b
b = temp

This solution is cumbersome; tuple assignment is more elegant:

In [270]:
a, b = b, a

The left side is a tuple of variables; the right side is a tuple of expressions. Each value is assigned to its respective variable. All the expressions on the right side are evaluated before any of the assignments.

<b>Tuples as return values</b>

Strictlyspeaking,a function can only return one value,but if the value is a tuple,the effect is the same as returning multiple values. For example, if you want to divide two integers and compute the quotient and remainder, it is inefﬁcient to compute x/y and then x%y. It is better to compute them both at the same time.

The built-in function divmod takes two arguments and returns a tuple of two values, the quotient and remainder. You can store the result as a tuple:

In [271]:
t = divmod(7, 3)

In [272]:
t

(2, 1)

In [273]:
quot, rem = divmod(7, 3)

In [274]:
quot, rem

(2, 1)

<b>Variable-length argument tuples</b>

Functions can take a variable number of arguments. A parameter name that begins with * gathers arguments into a tuple. For example, printall takes any number of arguments and prints them

In [275]:
print(1, 'c', '5.3')

1 c 5.3

In [276]:
def printall(*args):
    print(args)

In [277]:
printall(1, 'c', '5.3')

(1, 'c', '5.3')

The complement of gather is scatter. If you have a sequence of values and you want to pass it to a function as multiple arguments, you can use the * operator. For example, divmod takes exactly two arguments; it doesn’t work with a tuple:

In [278]:
t = (7, 3)

In [280]:
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [281]:
divmod(*t)

(2, 1)

In [282]:
max(1, 3, 3)

3

In [283]:
sum(1, 2, 3)

TypeError: sum expected at most 2 arguments, got 3

Write a function called sumall that takes any number of arguments and returns their sum.

In [284]:
def sumall(*args):
    s = sum(args)
    print(s)

In [285]:
sumall(1, 2, 3)

6

## Lists and tuples

zip is a built-in function that takes two or more sequences and “zips” them into a list of tuples where each tuple contains one element from each sequence. In Python3, zip returns an iterator of tuples, but for most purposes, an iterator behaves like a list. This example zips a string and a list:

In [286]:
a = 'abc'
t = [0, 1, 2]

In [287]:
[i for i in (zip(s, t))]

[('p', 0), ('i', 1), ('n', 2)]

If you need to traverse the elements of a sequence and their indices,you can use the built-in function <b>enumerate</b>:

In [288]:
for index, element in enumerate('abc'):
    print(index, element)

0 a
1 b
2 c

## Dictionaries and tuples

Dictionaries have a method called items that returns a list of tuples, where each tuple is a key-value pair.

In [289]:
d = {'a':0, 'b':1, 'c':2} 
t = d.items() 
print(t)

dict_items([('a', 0), ('b', 1), ('c', 2)])

Combining dict with zip yields a concise way to create a dictionary

In [290]:
d = dict(zip('abc', range(3)))

In [291]:
d

{'a': 0, 'b': 1, 'c': 2}

Creating Dictionaries from tuples:

In [1]:
last = ('John', 'Graham')
first= ('Cleese', 'John')
number = (134, 5678)

In [2]:
directory = {}

In [3]:
directory[last, first] = number

In [4]:
directory

{(('John', 'Graham'), ('Cleese', 'John')): (134, 5678)}

In [6]:
directory.keys(), directory.values()

(dict_keys([(('John', 'Graham'), ('Cleese', 'John'))]),
 dict_values([(134, 5678)]))

<b>Comparing tuples</b>

The relational operators work with tuples and other sequences; Python starts by comparing the ﬁrst element from each sequence. If they are equal,it goes on to the next elements,and so on, until it ﬁnds elements that differ. Subsequent elements are not considered (even if they are really big).

In [296]:
(1, 1, 2) < (0, 3, 4) #each element form 1st sequence to all elelments in the other sequence

False

In [297]:
(0, 1, 2000000) < (0, 3, 4)

True

In [298]:
(9, 8, 2) < (0, 9, 3)

False

## Debugging

Lists, dictionaries and tuples are known generically as data structures; in this chapter we are starting to see compound data structures, like lists of tuples, and dictionaries that contain tuples as keys and lists as values. Compound data structures are useful, but they are prone to what I call shape errors;that is,errors caused when a data structure has the wrong type, size or composition. For example, if you are expecting a list with one integer and I give you a plain old integer (not in a list), it won’t work.

In [299]:
from structshape import structshape

In [300]:
t = [1, 2, 3]

In [301]:
structshape(t)

'list of 3 int'

In [302]:
 t2 = [[1,2], [3,4], [5,6]]

In [303]:
structshape(t2)

'list of 3 list of 2 int'

In [304]:
t3 = [1, 2, 3, 4.0, '5', '6', [7], [8], 9]

In [305]:
structshape(t3)

'list of (3 int, float, 2 str, 2 list of int, int)'

In [306]:
 s = 'abc'
lt = zip(t, s) 
d = dict(lt)
print (structshape(d) )

dict of 3 int->str

## Sets

Python also includes a data type for sets. A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.
Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.

In [307]:
basket = ['apple', 'orange', 'apple', 'pear']

In [308]:
fruit = set(basket)

In [309]:
fruit

{'apple', 'orange', 'pear'}

In [310]:
a = set('abcdefabcdefghj')

In [311]:
a

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'j'}

In [312]:
b = set('alacazam')

In [313]:
b

{'a', 'c', 'l', 'm', 'z'}

In [314]:
type(b)

set

In [315]:
a - b                      # letters in a but not in b

{'b', 'd', 'e', 'f', 'g', 'h', 'j'}

In [316]:
a | b    #letters in either a or b (all elements from both the sets)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'j', 'l', 'm', 'z'}

In [317]:
a & b       #letters in both a and b

{'a', 'c'}

In [318]:
a ^ b      #  letters in a or b but not both i.e symmetric difference

{'b', 'd', 'e', 'f', 'g', 'h', 'j', 'l', 'm', 'z'}

In [319]:
(a | b) - (a & b)    # uncommon words

{'b', 'd', 'e', 'f', 'g', 'h', 'j', 'l', 'm', 'z'}

Write a Python program to add member(s) in a set.

In [320]:
color_set = set()
color_set.add('Red')

In [321]:
color_set

{'Red'}

In [322]:
color_set.update(['Blue', 'Green']) ##Add multiple items

In [323]:
color_set

{'Blue', 'Green', 'Red'}

In [324]:
color_set.pop()          #remove item(s) from set.

'Green'

In [325]:
color_set

{'Blue', 'Red'}

In [326]:
num_set = set([0, 1, 2, 3, 4,5])   #remove an item from a set if it is present in the set.

In [327]:
#Discard number 4
num_set.discard(4)
print(num_set)

{0, 1, 2, 3, 5}

In [328]:
# issubset and issuperset i.e. to test whether every element in s is in t and every element in t is in s.
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = set(["mango"])

In [329]:
issubset = setx <= sety
print(issubset)
issuperset = setx >= sety
print(issuperset)
issubset = setz <= sety
print(issubset)
issuperset = sety >= setz
print(issuperset)

False
False
True
True

In [330]:
issubset = setx <= setz
print(issubset)

False

In [331]:
issubset = setz <= setx
print(issubset)

True

Sets are implemented in a way, which doesn't allow mutable objects. The following example demonstrates that we cannot include for example lists as elements:

In [332]:
cities = set((("Python","Perl"), ("Paris", "Berlin", "London")))

In [333]:
cities = set((["Python","Perl"], ["Paris", "Berlin", "London"]))

TypeError: unhashable type: 'list'

Though sets can't contain mutable objects, sets are mutable:

In [334]:
cities = set(["Frankfurt", "Basel","Freiburg"])
cities.add("Strasbourg")
cities

{'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg'}

<b>Frozensets</b> are like sets except that they cannot be changed, i.e. they are immutable:

In [335]:
cities = frozenset(["Frankfurt", "Basel","Freiburg"])
cities.add("Strasbourg")

AttributeError: 'frozenset' object has no attribute 'add'

More on Sets:  <https://www.python-course.eu/sets_frozensets.php>

## Arrays

An array is a data structure that stores values of same data type. In Python, this is the main difference between arrays and lists. 

While python lists can contain values corresponding to different data types, arrays in python can only contain values corresponding to same data type

To use arrays in python language, you need to import the standard ‘array’ module. This is because array is not a fundamental data type like strings, integer etc. Here is how you can import ‘array’ module in python :

In [336]:
from array import *

Once you have imported the ‘array’ module, you can declare an array. Here is how you do it:

arrayIdentifierName = array(typecode, [Initializers]

In the declaration above, ‘arrayIdentifierName’ is the name of array, ‘typecode’ lets python know the type of array and ‘Initializers’ are the values with which array is initialized.

In [337]:
my_array = array('i', [1,2,3,4])

In the example above, typecode used is ‘i’. This typecode represents signed integer whose size is 2 bytes.
Typecodes are the codes that are used to define the type of array values or the type of array. Here is the list of available typecodes:
    
‘b’ -> Represents signed integer of size 1 byte<br>
‘B’ -> Represents unsigned integer of size 1 byte<br>
‘c’ -> Represents character of size 1 byte<br>
‘u’ -> Represents unicode character of size 2 bytes<br>
‘h’ -> Represents signed integer of size 2 bytes<br>
‘H’ -> Represents unsigned integer of size 2 bytes<br>
‘i’ -> Represents signed integer of size 2 bytes<br>
‘I’ -> Represents unsigned integer of size 2 bytes<br>
‘w’ -> Represents unicode character of size 4 bytes<br>
‘l’ -> Represents signed integer of size 4 bytes<br>
‘L’ -> Represents unsigned integer of size 4 bytes<br>
‘f’ -> Represents floating point of size 4 bytes<br>
‘d’ -> Represents floating point of size 8 bytes<br>

In [339]:
from array import *
my_array = array('i', [1,2,3,4,5])
for i in my_array:
    print(i)

1
2
3
4
5

In [342]:
my_array.append(6)   #Append any value to the array using append() method

In [341]:
my_array

array('i', [1, 2, 3, 4, 5, 6])

In [344]:
my_array.insert(0, 0) #Insert value in an array using insert() method. We can use the insert() method to insert a value at any index of the array

In [345]:
my_array

array('i', [0, 1, 2, 3, 4, 5, 6, 6])

In [348]:
my_extnd_array = array('i', [7,8,9,10])   #A python array can be extended with more than one value using extend() method. 
my_array.extend(my_extnd_array)

In [349]:
my_array

array('i', [0, 1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10])

In [350]:
 c=[11,12,13]
my_array.fromlist(c) #Add items from list into array using fromlist() method

In [351]:
my_array

array('i', [0, 1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 11, 12, 13])

remove(), reverse(), pop(), index(i) are some methods to work around with arrays.

In [352]:
my_array.buffer_info()
#Get array buffer information through buffer_info() method

(2566183224944, 15)

So we see that buffer start address and number of elements were provided in output.

In [353]:
my_array.count(11)  #occurrences of an element

1

In [390]:
my_char_array = array('u',['g','e','e','k'])       #array to string

In [397]:
my_char_array

array('u', 'geek')

In [394]:
x = array.tostring(my_char_array)

In [403]:
print(x.decode())

g e e k 

In [404]:
c = my_array.tolist()          #Convert array to a python list

In [405]:
c

[0, 1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 11, 12, 13]